@addTagHelper *, LazZiya.TagHelpers
@using Store.Application.Services.HomePages.Queries.GetSliders;
@model List<SliderDto>;

@{
    ViewData["Title"] = "لیست اسلایدرها";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

<div class="box">
    <br>
    <div class="box-header">
        <div class="row w-100">
            <div class="col-md-4">
                <h3 class="box-title mt-3">لیست اسلایدر ها</h3>
            </div>
            <div class="col-md-4 text-left">
                <a href="~/admin/Sliders/Add" class="btn btn-success mb-2">افزودن اسلایدر جدید</a>
            </div>
            <div class="col-md-4 text-center">
                <form method="get" class="form-inline justify-content-center">
                    <input type="text" class="form-control ml-2" name="serchkey" placeholder="جستجو..." />
                    <button class="btn btn-success">جستجو</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr style="background-color:#2c434d; color:white">
                                <th>شناسه</th>
                                <th>تصویر</th>
                                <th>لینک</th>
                                <th>تاریخ ثبت</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>
                                        <img src="~/@item.Src" alt="Slider" style="max-width:150px; max-height:100px;" />
                                    </td>
                                    <td>@item.Link</td>
                                    <td>@item.InsertTime.ToString("yyyy/MM/dd HH:mm")</td>
                                    <td>
                                        <button class="btn btn-info" onclick="ShowModalEditSlider('@item.Id', '@item.Link')">ویرایش</button>
                                        <button class="btn btn-danger" onclick="DeleteSlider('@item.Id')">حذف</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts
{
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/sweetalert2/sweetalert2.min.js"></script>

    <script>
        // حذف اسلایدر
        function DeleteSlider(Id) {
            swal.fire({
                title: 'حذف اسلایدر',
                text: "آیا از حذف این اسلایدر مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ، حذف شود',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {
                    var postData = { 'Id': Id };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "Delete",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire('موفق!', data.message, 'success').then(function () {
                                    location.reload();
                                });
                            }
                            else {
                                swal.fire('هشدار!', data.message, 'warning');
                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }
                    });
                }
            })
        }

        // ویرایش اسلایدر
        function EditSlider() {
            var postData = {
                SliderId: $("#Edit_SliderId").val(),
                Link: $("#Edit_Link").val()
            };

            $.ajax({
                contentType: 'application/x-www-form-urlencoded',
                dataType: 'json',
                type: "POST",
                url: "Edit",
                data: postData,
                success: function (data) {
                    if (data.isSuccess == true) {
                        swal.fire('موفق!', data.message, 'success').then(function () {
                            location.reload();
                        });
                    }
                    else {
                        swal.fire('هشدار!', data.message, 'warning');
                    }
                },
                error: function (request, status, error) {
                    alert(request.responseText);
                }
            });

            $('#EditSlider').modal('hide');
        }

        // نمایش مودال ویرایش
        function ShowModalEditSlider(Id, link) {
            $('#Edit_SliderId').val(Id);
            $('#Edit_Link').val(link);
            $('#EditSlider').modal('show');
        }
    </script>
}

@section Modals
{
    <!-- Modal ویرایش اسلایدر -->
    <div class="modal fade" id="EditSlider" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shadow-lg border-0 rounded">

                <div class="modal-header bg-primary text-white position-relative" style="justify-content: center;">
                    <h5 class="modal-title font-weight-bold m-0">
                        <i class="fa fa-edit ml-2"></i> ویرایش اسلایدر
                    </h5>
                </div>

                <div class="modal-body bg-light">
                    <div class="container-fluid">
                        <input type="hidden" id="Edit_SliderId" />

                        <div class="form-group row mb-3">
                            <label class="col-sm-3 col-form-label font-weight-bold">لینک اسلایدر</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control border-primary" id="Edit_Link" placeholder="آدرس لینک">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-secondary px-4" data-dismiss="modal">
                        <i class="fa fa-times ml-1"></i> بستن
                    </button>
                    <button type="button" class="btn btn-success px-4" onclick="EditSlider()">
                        <i class="fa fa-save ml-1"></i> اعمال تغییرات
                    </button>
                </div>
            </div>
        </div>
    </div>
}
