@using Store.Application.Services.Products.Queries.GetProductDetailForAdmin
@model ProductDetailForAdmindto

@{
    ViewData["Title"] = "جزئیات محصول";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

<div class="box">
    <a href="~/admin/products/index"
       class="btn btn-outline-secondary btn-sm position-absolute"
       style="top: 10px; left: 10px; z-index: 10;">
        <i class="fa fa-arrow-left ml-1"></i> بازگشت به لیست محصولات
    </a>
    <div class="box-header">
        <h3 class="box-title">اطلاعات بیشتر در مورد محصول</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="no-list-style">
                    <li><b>محصول:</b> @Model.Name</li>
                    <li><b>برند:</b> @Model.Brand</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="no-list-style">
                    <li><b>دسته بندی:</b> @Model.Category</li>
                    <li><b>قیمت:</b> @Model.Price.ToString("n0") تومان</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <ul class="no-list-style">
                    <li><b>موجودی:</b> @Model.Inventory</li>
                    <li><b>نمایش در سایت؟</b> @(Model.Displayed ? "بله" : "خیر")</li>
                </ul>
            </div>
            <div class="col-lg-12">
                <b>توضیحات:</b>
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</div>

<div class="box">
    <div class="box-header">
        <h3 class="box-title">تصاویر و ویژگی‌های محصول</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <!-- ویژگی‌ها -->
            <table class="table table-bordered table-striped text-center">
                <thead class="thead-dark">
                    <tr>
                        <th>ویژگی</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Features)
                    {
                        <tr>
                            <!-- ستون ویژگی -->
                            <td class="text-right">
                                <b>@item.DisplayName :</b> @item.Value
                            </td>

                            <!-- ستون عملیات -->
                            <td>
                                <button class="btn btn-sm btn-info ml-1"
                                        onclick="ShowModalEditFeature('@item.Id', '@item.DisplayName', '@item.Value')">
                                    ویرایش
                                </button>
                                <button class="btn btn-sm btn-danger"
                                        onclick="DeleteFeature('@item.Id')">
                                    حذف
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>


            <!-- تصاویر -->
            <div class="col-8 text-center">
                @foreach (var item in Model.Images)
                {
                    <figure class="col-xl-6 col-lg-4 col-sm-6 col-12">
                        <a target="_blank" href="~/@item.Src">
                            <img width="200" height="200" class="img-thumbnail img-fluid" src="~/@item.Src" />
                        </a>
                    </figure>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/sweetalert2/sweetalert2.min.js"></script>

    <script>
        // حذف ویژگی محصول
        function DeleteFeature(Id) {
            Swal.fire({
                title: 'حذف ویژگی',
                text: "آیا از حذف این ویژگی مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله، حذف شود',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: "POST",
                        url: "/Admin/Products/DeleteFeature",
                        data: { FeatureId: Id },
                        success: function (data) {
                            if (data.isSuccess) {
                                Swal.fire("موفق!", data.message, "success")
                                    .then(() => location.reload());
                            } else {
                                Swal.fire("هشدار!", data.message, "warning");
                            }
                        },
                        error: function () {
                            alert("خطا در حذف ویژگی");
                        }
                    });
                }
            });
        }

        // نمایش مودال و پر کردن مقادیر
        function ShowModalEditFeature(id, displayName, value) {
            $('#Edit_FeatureId').val(id);
            $('#Edit_DisplayName').val(displayName);
            $('#Edit_Value').val(value);
            $('#EditFeatureModal').modal('show');
        }

        // ارسال درخواست ویرایش ویژگی
        function EditFeature() {
            var postData = {
                FeatureId: $("#Edit_FeatureId").val(),
                DisplayName: $("#Edit_DisplayName").val(),
                Value: $("#Edit_Value").val()
            };

            $.ajax({
                type: "POST",
                url: "/Admin/Products/EditFeature",
                data: postData,
                success: function (data) {
                    if (data.isSuccess) {
                        Swal.fire("موفق!", data.message, "success")
                            .then(() => location.reload());
                    } else {
                        Swal.fire("هشدار!", data.message, "warning");
                    }
                },
                error: function () {
                    alert("خطا در ویرایش ویژگی");
                }
            });

            $('#EditFeatureModal').modal('hide');
        }
    </script>
}

@section Modals {
    <!-- Modal ویرایش ویژگی -->
    <div class="modal fade" id="EditFeatureModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content shadow-lg border-0 rounded">

                <div class="modal-header bg-primary text-white justify-content-center">
                    <h5 class="modal-title font-weight-bold m-0">
                        <i class="fa fa-edit ml-2"></i> ویرایش ویژگی محصول
                    </h5>
                </div>

                <div class="modal-body bg-light">
                    <input type="hidden" id="Edit_FeatureId" />

                    <div class="form-group">
                        <label>نام ویژگی</label>
                        <input type="text" id="Edit_DisplayName" class="form-control border-primary" />
                    </div>

                    <div class="form-group">
                        <label>مقدار ویژگی</label>
                        <input type="text" id="Edit_Value" class="form-control border-primary" />
                    </div>
                </div>

                <div class="modal-footer bg-light">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">بستن</button>
                    <button type="button" class="btn btn-success" onclick="EditFeature()">اعمال تغییرات</button>
                </div>
            </div>
        </div>
    </div>
}
