@addTagHelper *, LazZiya.TagHelpers
@using Store.Application.Services.Products.Queries.GetProductForAdmin;
@model ProductForAdminDto;

@{
    ViewData["Title"] = "لیست محصولات";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}

<div class="box">
    <br>
    <div class="box-header">
        <div class="row w-100">
            <div class="col-md-4">
                <h3 class="box-title mt-3">لیست محصولات </h3>
            </div>
            <div class="col-md-4 text-left">
                <a href="~/admin/Products/AddNewProduct" class="btn btn-success mb-2">افزودن محصول جدید</a>
            </div>
            <div class="col-md-4 text-center">
                <form method="get" class="form-inline justify-content-center">
                    <input type="text" class="form-control ml-2" name="serchkey" placeholder="جستجو..." />
                    <button class="btn btn-success">جستجو</button>
                </form>
            </div>
        </div>
    </div>
    <br>

    <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                <th>نام</th>
                                <th>دسته‌بندی</th>
                                <th>برند</th>
                                <th>قیمت</th>
                                <th>موجودی</th>
                                <th>نمایش در سایت؟</th>
                                <th>عملیات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Products)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Category</td>
                                    <td>@item.Brand</td>
                                    <td>@item.Price.ToString("n0")</td>
                                    <td>@item.Inventory</td>
                                    <td>@(item.Displayed ? "بله" : "خیر")</td>
                                    <td>
                                        <button class="btn btn-danger" onclick="DeleteProduct('@item.Id')">حذف</button>
                                        <a class="btn btn-success">ویرایش</a>
                                        <a href="~/admin/products/detail/@item.Id" class="btn btn-info">اطلاعات بیشتر</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col-sm-12 text-center">
                    <paging total-records="Model.RowCount"
                            page-no="Model.CurrentPage"
                            page-size="Model.PageSize"
                            show-prev-next="true"
                            show-total-pages="false"
                            show-total-records="false"
                            show-page-size-nav="false"
                            show-first-numbered-page="true"
                            show-last-numbered-page="true"
                            query-string-key-page-no="Page"
                            query-string-key-page-size="PageSize"
                            gap-size="2">
                    </paging>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function changePageSize(size) {
        const params = new URLSearchParams(window.location.search);
        params.set('PageSize', size);
        window.location.search = params.toString();
    }
</script>



@section Scripts
{
    <link href="~/sweetalert2/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/sweetalert2/sweetalert2.min.js"></script>

    <script>

        //حذف محصول
        function DeleteProduct(ProductId) {
            swal.fire({
                title: 'حذف محصول',
                text: "کاربر گرامی از حذف محصول مطمئن هستید؟",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#7cacbe',
                confirmButtonText: 'بله ، محصول حذف شود',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {
                    var postData = {
                        'ProductId': ProductId,
                    };

                    $.ajax({
                        contentType: 'application/x-www-form-urlencoded',
                        dataType: 'json',
                        type: "POST",
                        url: "Delete",
                        data: postData,
                        success: function (data) {
                            if (data.isSuccess == true) {
                                swal.fire(
                                    'موفق!',
                                    data.message,
                                    'success'
                                ).then(function (isConfirm) {
                                    location.reload();
                                });
                            }
                            else {

                                swal.fire(
                                    'هشدار!',
                                    data.message,
                                    'warning'
                                );

                            }
                        },
                        error: function (request, status, error) {
                            alert(request.responseText);
                        }

                    });

                }
            })
        }
    </script>
}
