@using Store.Application.Services.Fainances.Queries.GetRequestPayForAdmin;
@model List<RequestPayDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Adminlayout.cshtml";
}


<div class="box">
    <br>
    <div class="box-header">
        <div class="row w-100">
            <div class="col-md-4">
                <h3 class="box-title mt-3">لیست فکتور ها </h3>
            </div>
            <div class="col-md-4 text-left">
            </div>
            <div class="col-md-4 text-center">
                <form method="get" class="form-inline justify-content-center">
                    <input type="text" class="form-control ml-2" name="serchkey" placeholder="جستجو..." />
                    <button class="btn btn-success">جستجو</button>
                </form>
            </div>
        </div>
    </div>
    <br>
        <div class="row">
            <div class="col-sm-12">
                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                    <thead>
                    <tr role="row" style="background-color:#2c434d; color:white">
                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="  activate to sort column descending" style="width: 222px;"> شماره فاکتور</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="  activate to sort column descending" style="width: 222px;"> مبلغ</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="  activate to sort column descending" style="width: 222px;"> کاربر</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="  activate to sort column descending" style="width: 222px;"> پرداخت شده؟</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="  activate to sort column descending" style="width: 222px;"> تاریخ پرداخت</th>
                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="  activate to sort column descending" style="width: 222px;">  RefId </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="  activate to sort column descending" style="width: 222px;">  Authority </th>
                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="  activate to sort column descending" style="width: 222px;">    </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr role="row" class="odd">
                                <td class="sorting_1">@item.Id</td>
                                <td>@item.Amount.ToString("n0")</td>
                                <td>@item.UserName</td>
                                <td>@item.IsPay</td>
                                <td>@item.PayDate</td>
                                <td>@item.RefId</td>
                                <td>@item.Authority</td>
                                <td>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
       </div>
    </div>
</div>



