@using Store.Application.Services.Carts;
@model CartDto
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sumTotal = 0;
}

<main class="cart-page default space-top-30">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <ul class="order-steps">
                    <li>
                        <a href="cart.html" class="active">
                            <span>سبدخرید</span>
                        </a>
                    </li>
                    <li>
                        <a href="shopping-payment.html">
                            <span>پرداخت</span>
                        </a>
                    </li>
                    <li>
                        <a href="successful-payment.html">
                            <span>اتمام خرید و ارسال</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="cart_content col-xl-12 col-lg-12 col-md-12">
                <header class="card-header">
                    <h3 class="card-title"><span>سبد خرید شما</span></h3>
                </header>
                <div class="table-responsive default">
                    <table class="table">
                        <thead>
                            <tr style="text-align:center">
                                <th scope="col">عکس محصول</th>
                                <th scope="col">نام محصول</th>
                                <th scope="col">قیمت واحد</th>
                                <th scope="col">تعداد</th>
                                <th scope="col">قیمت نهایی</th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model.CartItems)
                            {
                                <tr class="cart_item">
                                    <td>
                                        <img src="~/@item.Images" alt="">
                                        <a href="~/cart/remove?ProductId=@item.Id" class="remove">
                                            <i class="fa fa-times" aria-hidden="true"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <h3 class="cart_title">
                                            <a href="#">
                                                @item.Product
                                            </a>
                                        </h3>
                                    </td>
                                    <td>
                                        <div class="cart_price">
                                                <ins>
                                                    <span>
                                                        @item.Price.ToString("n0")
                                                        <span>تومان</span>
                                                    </span>
                                                </ins>
                                        </div>
                                    </td>

                                    <td class="product-cart-quantity">
                                        <div style="display: flex; align-items: center; gap: 5px; border: 1px solid #ccc; border-radius: 20px; padding: 5px 10px; width: fit-content;">
                                            <button type="button" onclick="lowCount('@item.Id')" style="cursor: pointer; border: none; background: #f8d7da; color: red; border-radius: 50%; width: 30px; height: 30px; font-size: 18px;">-</button>

                                            <input type="number" id="count-@item.Id" value="@item.Count" readonly
                                                   style="width: 40px; text-align: center; border: none; font-weight: bold; outline: none;" />

                                            <button type="button" onclick="AddCount('@item.Id')" style="cursor: pointer;border: none; background: #d1ecf1; color: blue; border-radius: 50%; width: 30px; height: 30px; font-size: 18px;">+</button>
                                        </div>
                                    </td>

                                    <td class="price_alltd">
                                        @{
                                            int total = item.Price * item.Count;
                                            sumTotal += total;
                                        }
                                        @total.ToString("n0")
                                        <span>تومان</span>
                                    </td>
                                </tr>

                            }
                            


                        </tbody>
                    </table>
                </div>
            </div>
            <div class="cart-page-content col-xl-12 col-lg-12 col-md-12">
                <div class="row cart_details">

                    <div class="cart-page-content col-xl-8 col-lg-7 col-md-7 ">
                        <input type="text" placeholder="کد تخفیف" class="input_second input_all width-200">
                        <a href="#" class="btn btn-main-masai"> اعمال</a>
                        <a href="#" class="btn btn-second-masai">به روز رسانی</a>
                        <div class="text_details">
                            <p>
                                افزودن کالا به سبد خرید به معنی رزرو آن نیست با توجه به محدودیت موجودی سبد خود را ثبت و خرید را تکمیل کنید.
                            </p>
                        </div>
                    </div>
                    <div class="cart-page-aside col-xl-4 col-lg-5 col-md-5 divider_details">
                        <table class="table table_details">
                            <tbody>
                                <tr>
                                    <td>قیمت کل سفارش:</td>
                                    <td>@sumTotal.ToString("n0") <span>تومان</span></td>
                                </tr>
                                <tr>
                                    <td>بسته&zwnj;بندی و ارسال:</td>
                                    <td>وابسته به نوع ارسال</td>
                                </tr>
                                <tr class="all">
                                    <td>قیمت قابل پرداخت:</td>
                                    <td>@sumTotal.ToString("n0") <span>تومان</span></td>
                                </tr>
                                <tr>
                                    <td colspan="2"><a href="shopping-payment.html" class="btn big_btn btn-main-masai"> گام بعدی</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>

</main>

@section Scripts
{
<script>

    function AddCount(CartItemId) {
        window.location.replace('/cart/add?CartItemId=' + CartItemId);
    }

    function lowCount(CartItemId) {
        window.location.replace('/cart/LowOff?CartItemId=' + CartItemId);
    }

</script>
} 